<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Dentral_Conn" connectionString="Data Source=&quot;192.168.6.11, 1433&quot;;Initial Catalog=sedentral;User ID=se_admin;Password=Dentis1234" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
